.rowPosters {
  display: flex;
  overflow-y: hidden;
  padding: 20px;
  overflow-x: scroll;
  transition: all 1s ease;
}
.rowPoster_row {
  display: flex;
}
.ArrowIcons {
  color: aliceblue;
  font-size: 30px;
  background-color: red;
  position: absolute;
}
.leftArrow {
  left: 0;
}
.RightArrow {
  right: 0;
}

.rowData {
  color: aliceblue;
}
.rowPosters::-webkit-scrollbar {
  display: none;
}

.rowPoster_row::-webkit-scrollbar {
  display: none;
}
.fieldTitle {
}
.rowPostersImg {
  /*height: 200px;
    width: 100%;*/
  border-radius: 2px;
  margin-right: 15px;
  object-fit: contain;
  transition: transform 450ms;
}

.rowPostersImg:hover {
  transform: scale(1.1);
}
.rowTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
